*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Work Sans';
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.apexcharts-tooltip {
  background: #16244e !important;
  box-shadow: 0px 0px 20px rgba(0, 10, 38, 0.3);
  border-radius: 4px;
  padding: 8px 10px;
  border: 0 !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #2dd2ff;
}
